div

	div.teamBlock

		div.titleBlock #{name}

		div.infoBlock
			div.caption Story:
			div.teamInfo #{info}

		div.divider

		div.infoBlock
			div.caption Quests:
			div No quests right now. Sorry, folks.

		div.divider

		div.infoBlock
			div.caption Inventory:
			div No iventory for now. Sorry again, folks.

		div.divider

		div.membersBlock
			div#p0.memberCol
				div.memberAvatar
					img(src = mem[0].ava)
				div.memberName #{mem[0].uname}
				div.playerName 
					span.underlined Player:
					span.pName #{mem[0].fname} #{mem[0].lname}
				div.specName 
					span.underlined Specialization:
					span.pSpec #{mem[0].spec}
				div.infoText 
					span.underlined Info:
					span.pInfo #{mem[0].info}

			div#p1.memberCol
				div.memberAvatar
					img(src = mem[1].ava)
				div.memberName #{mem[1].uname}
				div.playerName 
					span.underlined Player:
					span.pName #{mem[1].fname} #{mem[1].lname}
				div.specName 
					span.underlined Specialization:
					span.pSpec #{mem[1].spec}
				div.infoText 
					span.underlined Info:
					span.pInfo #{mem[1].info}

			div#p2.memberCol
				div.memberAvatar
					img(src = mem[2].ava)
				div.memberName #{mem[2].uname}
				div.playerName 
					span.underlined Player:
					span.pName #{mem[2].fname} #{mem[2].lname}
				div.specName 
					span.underlined Specialization:
					span.pSpec #{mem[2].spec}
				div.infoText 
					span.underlined Info:
					span.pInfo #{mem[2].info}
		div.controls
			- if ( viewerInTeam )
				button#edit Edit
				button#delete Delete